@import url('https://fonts.googleapis.com/css?family=Abel|Cinzel|Cormorant+Garamond|Josefin+Sans|Josefin+Slab|Julius+Sans+One|Raleway');

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}

.wrapper {
	padding: 100px 0;
}

.title-left{
	float: left;
	position: fixed;
	z-index: 100;
	font-size: 2.3em;
	color: #ffffff;
	padding: 15px 20px;
	background-color: #373a3c;
	width: 310px;
}

.brand {
	display: inline-block;	
}

#brand-short {
	font-size: 2em;
	font-weight: 300;
    font-family: 'Josefin Slab', serif;
    vertical-align: text-top;
    border-right: 1px solid #fff;
    padding-right: 7px;
}

#brand-full {
	font-weight: 200;
	font-size: .8em;
	padding-left: 5px;
    vertical-align: text-top;
}

.title-left a {
	color: #fff;
}

#main-menu {
	margin-left: 280px;
	text-transform: uppercase;
}

.navbar #main-menu, .navbar-nav .nav-item {
	float:right;
}


#wrapper-navbar {
	position: fixed;
	width:100%;
	z-index: 1000;
}

.navbar {
	padding: 0 0 0 0 !important;
	font-size: .7rem;
	text-align: center;
}

#navbar-custom {
	background-color: #e7e7e7;	
	color: #424242;	
	padding: 0;
}

#navbar-custom li{
	border-left: 1px solid #C9C3C3;
	border-right: 1px solid #C9C3C3;	
	margin-left: -1px;
	min-width: 120px;
	
}

#navbar-custom li a {
	color: #424242;
	padding: 18px;
	display: table-cell;
	text-align: center;
  	vertical-align: middle;
  	display: inline-block;
}

#navbar-custom li a:hover{
	color:#fff;
}

#sub-nav-right {
	display:inline-block;
	color: #fff;
	width: 30%;
	float:right;
	background-color: rgba(37,39,41,.75);
	padding: 7px 10px;	
}

#sub-nav-right a {
	color: #fff;
	text-transform: uppercase;
}

.main-menu-right {
	display: inline-block;
	float: right;
}

.mobile-menu {
	display:none;
	}

.navbar-toggler {
	z-index: 1000;
	color: #fff;
	font-size: 3em;
	float:right;
}


/*Special Stuff*/

.hero-title {
	font-size: 9vw;
	color: #fff;
	font-weight: 800;
}	

/* buttons */

button {
  position: relative;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}

@include respond-to(small){
	.title-left{
	float: left;
	position: fixed;
	z-index: 120;
	font-size: 2.3em;
	color: #ffffff;
	padding: 15px 20px;
	background-color: #373a3c;
	width: 100%;
	}
	#sub-nav-right {
	display: none;
	}
	
	#brand-short {
	display:none;
	}

	.mobile-menu {
		display: inline-block;
		float: right;
		height: 50px;
		width: 80px;
		z-index: 2000;
		font-size: 3em;
		color: #fff;
		position: absolute;
		right: 0;
		top: 10px;
	}
	.navbar #main-menu, .navbar-nav .nav-item {
	width: 100%;
	}	
	#navbar-custom li {
		border-left: none;
		border-right: none;
		border-top: 1px #424242 solid;
		}

}