@import url('https://fonts.googleapis.com/css?family=Abel|Cinzel|Cormorant+Garamond|Josefin+Sans|Josefin+Slab|Julius+Sans+One|Raleway');

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}


.wrapper {
	padding: 120px 0;
}

.title-left{
	float: left;
	position: fixed;
	z-index: 100;
	font-size: 2.3em;
	color: #ffffff;
	padding: 15px 20px;
	background-color: $dark-gray;
	width: 310px;
}

.brand {
	display: inline-block;	
}

#brand-short {
	font-size: 2em;
	font-weight: 300;
    font-family: 'Josefin Slab', serif;
    vertical-align: text-top;
    border-right: 1px solid #fff;
    padding-right: 7px;
}

#brand-full {
	font-weight: 200;
	font-size: .8em;
	padding-left: 5px;
    vertical-align: text-top;
}

.title-left a {
	color: #fff;
}

#main-menu {
	margin-left: 280px;
	text-transform: uppercase;
}

.navbar #main-menu, .navbar-nav .nav-item {
	float:right;
}


#wrapper-navbar {
	position: fixed;
	width:100%;
	z-index: 1000;
}

.navbar {
	padding: 0 0 0 0 !important;
	font-size: .7rem;
	text-align: center;
}

#navbar-custom {
	background-color: #e7e7e7;	
	color: #424242;	
	padding: 0;
}

#navbar-custom li{
	border-left: 1px solid #C9C3C3;
	border-right: 1px solid #C9C3C3;	
	margin-left: -1px;
	min-width: 120px;
	
}

#navbar-custom li a {
	color: #424242;
	padding: 14px 12px;
	display: table-cell;
	text-align: center;
  	vertical-align: middle;
  	display: inline-block;
  	font-size: 1.2em;
  	width: 90%;
  	height: auto;
}

#navbar-custom li a:hover{
	color:#fff;
}

#sub-nav-right {
	display:inline-block;
	color: #fff;
	width: 30%;
	float:right;
	background-color: rgba(37,39,41,.75);
	padding: 7px 10px;	
}

#sub-nav-right a {
	color: #fff;
	text-transform: uppercase;
}

.main-menu-right {
	display: inline-block;
	float: right;
}

.mobile-menu {
	display:none;
	}

.navbar-toggler {
	z-index: 1000;
	color: #fff;
	font-size: 3em;
	float:right;
}

/*district partners stuff*/

.district-pad {
	margin: 10px;
	border: 1px solid #efefef;
	height: 250px;
	padding: 0 10px 0 10px;	
}

.district-title {
	background-color: $dark-gray;
	color: #fff;
	padding: 2px 5px;
	font-size: 1.5em;
	margin: 0 -10px 10px -10px;
	height: 60px;
}

#states {
	width: 220px;
	border: 2px solid #000;
	border-radius: 0;
}

.states li, .states li a{
	color: #000;
	text-align: left;
	font-size: 1.1em;	
	height: auto;
}

.states li:hover, .states li a:hover {
	color: #fff;
	background-color: $dark-gray;
	text-decoration: none;
}

#show, .selected {
	display: inline-block;	
}


/*Special Stuff*/

.hero-title {
	font-size: 6vw;
	color: #fff;
	font-weight: 800;
}	


/* SERVICES */

.services-box {
	border: 1px solid #efefef;
	padding: 10px 0;
}

/*BIO PAGE*/
.bio-title .fl-heading-text{
	padding: 8px 7px;
	border: 2px solid $dark-teal;
	width: 100%;
	display: block;
}

.bio-title .fl-heading-text{
	position: relative;
    z-index: 1;
}

.bio-title a {
	text-decoration: none;
}

.bio-title .fl-heading-text:hover {
	color: #fff;
	text-decoration: none;
}

.bio-title .fl-heading-text:after {	
	color: #fff;
	padding: 5px 0 0 10px;
	content:"";
	margin-top: 5px;
	color: $dark-teal;
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    z-index: -1;
    transition: transform 0.3s;
    background: #424242;
    text-decoration: none;    
}

.bio-title .fl-heading-text:hover::after {
    transform: scaleY(1);
}

.bio-header {
	font-weight: 200;
	color: $dark-teal;
	font-size: 3.5em;
}

.fl-photo-crop-circle img {
	border: 2px solid $dark-gray;	
}

.bio-pic img {
	 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


/*FOOTER*/
.footer {
	background-color: $dark-gray;	
}

.site-info {
	margin: 0 auto;
	color: #fff;
	padding:10px;
}



/* buttons */

button {
  position: relative;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 0;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.understrap-read-more-link {
  position: relative;
  height: 45px;
  width: 150px;
  margin: 15px 7px;
  padding: 12px 5px 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 0;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;

}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}

/* ACCORDION */

   .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

@include respond-to(small){
	.title-left{
	float: left;
	position: fixed;
	z-index: 120;
	font-size: 2.3em;
	color: #ffffff;
	padding: 15px 20px;
	background-color: $dark-gray;
	width: 100%;
	}
	#sub-nav-right {
	display: none;
	}
	
	#brand-short {
	display:none;
	}

	.mobile-menu {
		display: inline-block;
		float: right;
		height: 50px;
		width: 80px;
		z-index: 2000;
		font-size: 3em;
		color: #fff;
		position: absolute;
		right: 0;
		top: 10px;
	}
	.navbar #main-menu, .navbar-nav .nav-item {
	width: 100%;
	}	
	#navbar-custom li {
		border-left: none;
		border-right: none;
		border-top: 1px #424242 solid;
		}

}